<p-panel header="PIPES">
  <h1>Pipes básicos</h1>
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase">
      Valor inicial - {{ nameLower }} - Resultado - {{ nameLower | uppercase }}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="lowercase">
      Valor inicial - {{ nameUpper }} - Resultado - {{ nameUpper | lowercase }}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="titlecase">
      Valor inicial - {{ fullName }} - Resultado - {{ fullName | titlecase }}
    </p-card>
  </div>
</div>
